@media only screen and (min-width: 1633px) and (max-width: 1803px){
    .main-menu > a {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1355px) and (max-width: 1633px) {
    .main-menu > a {
        margin: 0 0 5% 12%;
        font-size: 1.3rem;
    }

    .main-menu-content img {
        width: 25px;
    }
    
    .studio-title {
        height: 8%;
    }

    .studio-title > img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .studio-name {
        font-size: 2.5rem;
    }

    .media {
        width: 150px;
        font-size: 15px;
    }

    .about-candidate {
        height: 35vh;
        overflow: scroll;
    }

    .right {
        right: 80px;
    }
}

@media only screen and (min-width: 1164px) and (max-width: 1355px) {
    .main-menu > a {
        margin: 0 0 5% 10%;
        font-size: 1rem;
    }

    .main-menu-content img {
        width: 25px;
    }

    
    .studio-title {
        height: 8%;
    }

    .studio-title > img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .studio-name {
        font-size: 2.5rem;
    }
    .media {
        width: 150px;
        font-size: 15px;
    }
    .about-candidate {
        height: 35vh;
        overflow: scroll;
    }

    .icon-image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .btn {
        height: 2rem;
    }

    .right {
        right: 60px;
    }
}

@media only screen and (min-width: 1087px) and (max-width: 1164px) {
    
    .main-menu > a {
        margin: 0 0 5% 10%;
        font-size: 1rem;
    }

    .main-menu-content img {
        width: 25px;
    }

    

    .studio-title {
        height: 8%;
    }

    .studio-title > img {
        width: 3rem;
        height: 3rem;
    }

    .studio-name {
        font-size: 2rem;
    }

    .media {
        width: 150px;
        font-size: 15px;
    }
    .about-candidate {
        height: 35vh;
        overflow: scroll;
    }

    .icon-image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .btn {
        height: 1.5rem;
        font-size: 1rem;

    }

}

@media only screen and (min-width: 1024px) and (max-width: 1087px) {
    .gridd {
        gap: 0rem 1.5rem;
    }
    .main-menu > a {
        margin: 0 0 5% 10%;
        font-size: 0.9rem;
    }

    .main-menu-content img {
        width: 25px;
    }

    
    .studio-title {
        height: 8%;
    }

    .studio-title > img {
        width: 3rem;
        height: 3rem;
    }

    .studio-name {
        font-size: 2rem;
    }
    
    .media {
        width: 120px;
        font-size: 15px;
    }
    .about-candidate {
        height: 35vh;
        overflow: scroll;
    }

    .icon-image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .btn {
        height: 1.5rem;
        font-size: 1rem;

    }
}

@media only screen and (min-height: 915px) and (max-height: 950px) {
    .list-div {
        overflow: scroll;
    }
    .about-candidate {
        height: 30%;
        overflow: scroll;
    }
}

@media only screen and (min-height: 850px) and (max-height: 915px) {
    .list-div {
        overflow: scroll;
    }
    .about-candidate {
        height: 30%;
        overflow: scroll;
    }
}

@media only screen and (min-height: 710px) and (max-height: 850px) {
    .list-div {
        overflow: scroll;
    }
    .about-candidate {
        height: 30%;
        overflow: scroll;
    }

    .media-option {
        height: 6rem;
    }

    .artist-name {
        font-size: 1.2rem;
    }

    .right {
        right: 50px;
    }

    .artist-name img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .schedule {
        height: 70%;
    }

    .schedule span {
        font-size: 17px;
    }

    .sh-btn {
        height: 20px;
        width: 80px;
    }

    .buttons-area {
        height: 3rem;
    }

    .left {
        height: 88%;
    }
}

@media only screen and (min-height: 600px) and (max-height: 710px) {
    .list-div {
        overflow: scroll;
        height: 85%;
    }

    .media-option {
        height: 6rem;
        margin-top: 10px;
    }

    .media {
        width: 130px;
    }

    .icon-image {
        width: 2.2rem;
        height: 2.2rem;
        margin: 0 10px 0 0;
    }

    .artist-name {
        font-size: 1rem;
    }

    .right {
        right: 50px;
    }

    .artist-name img {
        width: 2rem;
        height: 2rem;
    }
    .about-candidate {
        height: 25vh;
        margin-top: 10px;
        overflow: scroll;
    }

    .buttons-area {
        height: 2.5rem;
        margin: 10px 0 ;
    }

    .right-studio-details {
        margin: 10px 0;
    }

    .left {
        height: 88%;
    }

    .time-box {
        height: 11%;
        margin-top: 15px;
    }
    .schedule {
        height: 70%;
    }

    .schedule span {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .sh-btn {
        height: 20px;
        width: 80px;
    }
}