body {
    margin: 0;
}

input:focus {
    border: none;
    outline: none;
}    

.main-yellow {
    width: 100%;
    height: 100%;   
    position: fixed;
    background-color: #F9D422;
}

.left-side-menu {
    width: 20%;
    height: 100%;
    position: fixed;
}

.studio-title {
    width: 100%;
    height: 10%;
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studio-title > img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    float: left;
    margin-right: 15%;
    object-fit: cover;
}

.studio-name {
    font-size: 3rem;
}

.main-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    /* background-color: red; */
}

.main-menu > a {
    font-size: 1.7rem;
    line-height: 3vmax;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 15%;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.main-menu > a:hover{
    font-size: 1.7rem;
    line-height: 3vmax;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 15%;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}


.dashboard-selected {
    font-size: 1.7rem;
    line-height: 3vmax;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 15%;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}


.main-menu > a > .main-menu-content > * {
    vertical-align: middle;
}


.main-menu-content > img {
    margin: 0 20px 0 0;
}

.main-white {
    position: absolute;
    display: flex;
    width: 79%;
    height: 95%;
    left: 20%;
    top: 0;
    bottom: 0;
    transform: translateY(2.5%);
    border-radius: 3% 0 0 3%;
    justify-content: center;
    background-color: #F3F7FD;
}


.main-white-left {
    width: 100%;
    height: 90%;
    padding: 2%;
    /* background-color: grey; */
}

.top-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;

}

.top-div > input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
}

.notification-button {
    width: 6%;
    height: 100%;
    border: none;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
    background-color: white;
}
.setting-button {
    width: 6%;
    height: 100%;
    border: none;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
    background-color: white;
}

.graph-area {
    margin-top: 1rem;
    width: 100%;
    height: 45%;
    margin: 4% 0 5% 0;
    /* background-color: red; */
}

.graph-area > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.bottom-left-div {
    width: 100%;
    height: 42%;
    justify-content: space-between;
    display: flex;
    margin: 2% 0 2% 0;
    /* background-color: red; */
}

.gridd {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem 2.5rem;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: orange; */
}

.gridd-sub-div {
    width: 25%;
    height: 42%;
    position: relative;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 1% 0%;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
}

.gridd-sub-div > span {
    font-size: 1.3rem;
}
.gridd-sub-div > p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    /* font-weight: bold; */
    font-size: 1.2rem;
}

.percent-div {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    width: 25%;
    height: 83%;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    padding: 3% 3%;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
}

.percent-div > span {
    font-size: 1.8rem;
    /* font-weight: bold; */
}

.circleImage {
    width: 100%;
    height: 50%;
    position: relative;
    top: 1rem;
    /* background-color: red; */

}
.circleImage > img {
    display: block;
    /* bottom: 8%;
    left: 50%; */
    width: 100%;
    height: 100%;
    /* transform: translateX(-50%); */
}

.eighty {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-white-right {
    width: 50%;
    height: 90%;
    padding: 2%;
    margin: 0 0 0 5%;
    /* background-color: red; */
}

.dropdown-image {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly;    */
    width: 100%;
    height: 10%;
    /* padding: 0 5%; */
    border-radius: 10px;
    margin-bottom: 4%;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
    border-radius: 5px;
    background-color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    margin: 0 30% 0 0;
}

.content > img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.studio-details{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    height: 35%;
    border-radius: 10px;
    padding: 2% 0;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
    border-radius: 10px;
    background-color: white;
}

.studio-details-divs{
    width: 70%;
    font-size: 1rem;
    margin: 0 5% 0 5%;
    /* background-color: blue; */
}

.studio-details-divs > span {
    font-size: 1.5rem;
    margin: 0;

}

.studio-details-divs > p {
    margin: 3% 0;
    color: #636363;


}

.notification-section {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: 7%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.18);
    background-color: white;
}

.notification-section > span {
    margin: 0 5%;
}

